1.Importing Library

In [196]:
import pandas as pd
import numpy as np
import seaborn as sns

2.Import data

In [197]:
data = pd.read_excel('loan_data.xlsx')
data.head()

,ID,Age,Gender,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Home Ownership,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,M,1,49.0,91107,4,1.6,1,0,Home Owner,0,1,0,0.0,0
1,2,45,M,19,34.0,90089,3,1.5,1,0,Rent,0,1,0,0.0,0
2,3,39,M,15,11.0,94720,1,1.0,1,0,Rent,0,0,0,0.0,0
3,4,35,M,9,100.0,94112,1,2.7,2,0,Rent,0,0,0,0.0,0
4,5,35,M,8,45.0,91330,4,1.0,2,0,Rent,0,0,0,0.0,1

3.DATA INFORMATION

In [ ]:
data.dtypes

In [ ]:
data.describe()

In [ ]:
data.info()

4.Null value handaling

In [ ]:
data.isnull().sum()*100/len(data)

In [ ]:
columns_array = np.array(data.columns)

for c in columns_array:
    uniq= data[c].unique()
    print(c,uniq)

In [198]:
data.dropna(subset=['Income','Online'],inplace=True,axis=0)
data.reset_index(drop=True,inplace=True)

In [ ]:
data.isnull().sum()*100/len(data)

In [ ]:
columns_array = np.array(data.columns)

for c in columns_array:
    uniq= data[c].unique()
    print(c,uniq)

In [ ]:
data['Gender'].describe()

In [ ]:
data['Gender'].value_counts()

In [199]:
data.replace("#",np.nan,inplace=True)
data.replace("-",np.nan,inplace=True)

In [ ]:
data['Gender'].value_counts()

In [ ]:
columns_array = np.array(data.columns)

for c in columns_array:
    uniq= data[c].unique()
    print(c,uniq)

In [ ]:
data.isnull().sum()*100/len(data)

In [ ]:
data['Personal Loan'].value_counts()

In [200]:
data.replace(" ",np.nan,inplace=True)

In [ ]:
data['Personal Loan'].value_counts()

In [ ]:
data.isnull().sum()*100/len(data)

In [201]:
data.dropna(subset=['Personal Loan'],inplace=True,axis=0)
data.reset_index(drop=True,inplace=True)

In [ ]:
data.isnull().sum()*100/len(data)

In [ ]:
data['Gender'].mode()

In [ ]:
data['Home Ownership'].mode()

In [202]:
from sklearn.impute import SimpleImputer
gender_mode = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
data['Gender']=gender_mode.fit_transform(data[['Gender']])

ownership_mode = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
data['Home Ownership']=gender_mode.fit_transform(data[['Home Ownership']])

In [ ]:
data.isnull().sum()*100/len(data)

In [ ]:
data.head(5)

Data Visualization And  outliers Management

In [ ]:
data.head()

In [ ]:
data.describe()

In [ ]:
def Graphplot(column):
    sns.distplot(data[column])

In [ ]:
Graphplot('Age')

In [ ]:
def Boxplot(column):
    sns.boxplot(data[column])

In [ ]:
Boxplot('Age')

Z_SCORE

In [ ]:
# find limits 
upper_limit =data['Age'].mean() + 3*data['Age'].std()
lower_limit =data['Age'].mean() - 3*data['Age'].std()
print('upper_limit:',upper_limit)
print('lower_limit:',lower_limit)

In [ ]:
# find the outlier 
data.loc[(data['Age'] >upper_limit) | (data['Age'] < lower_limit)]

In [ ]:
# trimm outliers 
new_data = data.loc[(data['Age'] < upper_limit) & (data['Age'] > lower_limit)]
print('old_len',len(data))
print('new_len',len(new_data))
print('outliers no',len(data)-len(new_data))

In [ ]:
# capping outlier 
new_data = data.copy()
new_data.loc[(new_data['Age']>upper_limit),'Age'] = upper_limit
new_data.loc[(new_data['Age']<lower_limit),'Age'] = lower_limit

In [ ]:
sns.boxplot(new_data['Age'])

# quartile method

In [ ]:
# quartiles
q1=data['Age'].quantile(0.25)
q3=data['Age'].quantile(0.75)
iqr=q3-q1

In [ ]:
q1,q3,iqr

In [ ]:
# find limit 
upper_limit=q3 +(1.5 *iqr)
lower_limit=q1 -(1.5 *iqr)
upper_limit,lower_limit

In [ ]:
sns.boxplot(data['Age'])

In [ ]:
# find the outlier 
data.loc[(data['Age'] >upper_limit) | (data['Age'] < lower_limit)]

In [ ]:
# trime outlier 
new_data = data.loc[(data['Age'] < upper_limit) & (data['Age'] > lower_limit)]
print('old_len',len(data))
print('new_len',len(new_data))
print('outliers no',len(data)-len(new_data))

In [ ]:
# capping outlier 
new_data = data.copy()
new_data.loc[(new_data['Age']>upper_limit),'Age'] = upper_limit
new_data.loc[(new_data['Age']<lower_limit),'Age'] = lower_limit

Percentile Method

In [203]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4894 entries, 0 to 4893
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  4894 non-null   int64
 1   Age                 4894 non-null   int64
 2   Gender              4894 non-null   object
 3   Experience          4894 non-null   int64
 4   Income              4894 non-null   float64
 5   ZIP Code            4894 non-null   int64
 6   Family              4894 non-null   int64
 7   CCAvg               4894 non-null   float64
 8   Education           4894 non-null   int64
 9   Mortgage            4894 non-null   int64
 10  Home Ownership      4894 non-null   object
 11  Personal Loan       4894 non-null   float64
 12  Securities Account  4894 non-null   int64
 13  CD Account          4894 non-null   int64
 14  Online              4894 non-null   float64
 15  CreditCard          4894 non-null   int64
dtypes: float64(4), int64(10), object(2)
memory usage: 611.9+ KB

In [ ]:
# find limit
upper_limit =data['Age'].quantile(0.99)
lower_limit =data['Age'].quantile(0.01)
upper_limit,lower_limit

In [ ]:
sns.boxplot(data['Age'])

In [ ]:
# find the outlier 
data.loc[(data['Age'] >upper_limit) | (data['Age'] < lower_limit)]

In [ ]:
# trime outlier 
new_data = data.loc[(data['Age'] < upper_limit) & (data['Age'] > lower_limit)]
print('old_len',len(data))
print('new_len',len(new_data))
print('outliers no',len(data)-len(new_data))

In [ ]:
# capping outlier 
new_data = data.copy()
new_data.loc[(new_data['Age']>upper_limit),'Age'] = upper_limit
new_data.loc[(new_data['Age']<lower_limit),'Age'] = lower_limit

In [175]:
data

,ID,Age,Gender,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Home Ownership,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,M,1,49.0,91107,4,1.6,1,0,Home Owner,0.0,1,0,0.0,0
1,2,45,M,19,34.0,90089,3,1.5,1,0,Rent,0.0,1,0,0.0,0
2,3,39,M,15,11.0,94720,1,1.0,1,0,Rent,0.0,0,0,0.0,0
3,4,35,M,9,100.0,94112,1,2.7,2,0,Rent,0.0,0,0,0.0,0
4,5,35,M,8,45.0,91330,4,1.0,2,0,Rent,0.0,0,0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4889,4996,29,M,3,40.0,92697,1,1.9,3,0,Home Mortage,0.0,0,0,1.0,0
4890,4997,30,M,4,15.0,92037,4,0.4,1,85,Home Mortage,0.0,0,0,1.0,0
4891,4998,63,M,39,24.0,93023,2,0.3,3,0,Home Mortage,0.0,0,0,0.0,0
4892,4999,65,M,40,49.0,90034,3,0.5,2,0,Home Mortage,0.0,0,0,1.0,0
4893,5000,28,M,4,83.0,92612,3,0.8,1,0,Home Mortage,0.0,0,0,1.0,1

In [204]:
# find the number of outliers function
def NumberOutliers(column,df):
    # find limit
    upper_limit =df[column].quantile(0.99)
    lower_limit =df[column].quantile(0.01)
    upper_limit,lower_limit
    # find the outlier 
    out=df.loc[(df[column] >upper_limit) | (df[column] < lower_limit)]
    return len(out)

In [ ]:
NumberOutliers('Age',data)

In [205]:
# find the number of outliers in each column
Total_outlier = []
columns = data.head(0)
for c in columns:
    if data[c].dtype in ['int64','float64']:
        num = NumberOutliers(c, data)
        Total_outlier.append((c, num))
Total_outlier

[('ID', 98),
 ('Age', 88),
 ('Experience', 30),
 ('Income', 69),
 ('ZIP Code', 73),
 ('Family', 0),
 ('CCAvg', 47),
 ('Education', 0),
 ('Mortgage', 48),
 ('Personal Loan', 0),
 ('Securities Account', 0),
 ('CD Account', 0),
 ('Online', 0),
 ('CreditCard', 0)]

In [206]:
# Capping Outliers function
def RemoveOutliers(column,df):
    # find limit
    upper_limit =df[column].quantile(0.99)
    lower_limit =df[column].quantile(0.01)
    # find the outlier 
    out=df.loc[(df[column] >upper_limit) | (df[column] < lower_limit)]
    # capping outlier 
    df.loc[(df[column]>upper_limit),column] = upper_limit
    df.loc[(df[column]<lower_limit),column] = lower_limit
    return df

In [ ]:
RemoveOutliers('Age',data)

In [ ]:
# find outlier after capping
# find limit
upper_limit =new_data['Age'].quantile(0.99)
lower_limit =new_data['Age'].quantile(0.01)
# find the outlier 
new_data.loc[(new_data['Age'] >upper_limit) | (new_data['Age'] < lower_limit)]

In [207]:
# Capp outliers from each column
columns = data.head(0)
for c in columns:
    if data[c].dtype in ['int64','float64']:
        RemoveOutliers(c,data)

In [208]:
data

,ID,Age,Gender,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Home Ownership,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,52.93,25,M,1,49.0,91107,4,1.6,1,0,Home Owner,0.0,1,0,0.0,0
1,52.93,45,M,19,34.0,90089,3,1.5,1,0,Rent,0.0,1,0,0.0,0
2,52.93,39,M,15,11.0,94720,1,1.0,1,0,Rent,0.0,0,0,0.0,0
3,52.93,35,M,9,100.0,94112,1,2.7,2,0,Rent,0.0,0,0,0.0,0
4,52.93,35,M,8,45.0,91330,4,1.0,2,0,Rent,0.0,0,0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4889,4950.07,29,M,3,40.0,92697,1,1.9,3,0,Home Mortage,0.0,0,0,1.0,0
4890,4950.07,30,M,4,15.0,92037,4,0.4,1,85,Home Mortage,0.0,0,0,1.0,0
4891,4950.07,63,M,39,24.0,93023,2,0.3,3,0,Home Mortage,0.0,0,0,0.0,0
4892,4950.07,65,M,40,49.0,90034,3,0.5,2,0,Home Mortage,0.0,0,0,1.0,0
4893,4950.07,28,M,4,83.0,92612,3,0.8,1,0,Home Mortage,0.0,0,0,1.0,1

In [ ]:
# find the number of outliers in each column after capping
Total_outlie = []
columns = data.head(0)
for c in columns:
    if data[c].dtype in ['int64','float64']:
        num = NumberOutliers(c, data)
        Total_outlie.append((c, num))
Total_outlie

In [209]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4894 entries, 0 to 4893
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  4894 non-null   float64
 1   Age                 4894 non-null   int64
 2   Gender              4894 non-null   object
 3   Experience          4894 non-null   int64
 4   Income              4894 non-null   float64
 5   ZIP Code            4894 non-null   int64
 6   Family              4894 non-null   int64
 7   CCAvg               4894 non-null   float64
 8   Education           4894 non-null   int64
 9   Mortgage            4894 non-null   int64
 10  Home Ownership      4894 non-null   object
 11  Personal Loan       4894 non-null   float64
 12  Securities Account  4894 non-null   int64
 13  CD Account          4894 non-null   int64
 14  Online              4894 non-null   float64
 15  CreditCard          4894 non-null   int64
dtypes: float64(5), int64(9), object(2)
memory usage: 611.9+ KB

categorical data handeling

In [ ]:
# from sklearn.preprocessing import LabelEncoder
# le =LabelEncoder()
# data['Gender'] =le.fit_transform(data['Gender'])

In [ ]:
data

In [210]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
categorical_val=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[2,10])],remainder='passthrough')
data =pd.DataFrame(categorical_val.fit_transform(data))

In [212]:
# data.columns =['Home Mortage','Rent','Home Owner','M','F','O','ID','Age','Experience','Income','ZIP Code','Family','CCAvg','Education','Mortgage','Personal Loan','Securities Account','CD Account','Online','CreditCard']
data.columns =['Female','Male','Other','Home Mortage','Home Owner','Rent','ID','Age','Experience','Income','ZIP Code','Family','CCAvg','Education','Mortgage','Personal Loan','Securities Account','CD Account','Online','CreditCard']

In [213]:
data

,Female,Male,Other,Home Mortage,Home Owner,Rent,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,0.0,1.0,0.0,0.0,1.0,0.0,52.93,25.0,1.0,49.0,91107.0,4.0,1.6,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,1.0,52.93,45.0,19.0,34.0,90089.0,3.0,1.5,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,1.0,52.93,39.0,15.0,11.0,94720.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,1.0,52.93,35.0,9.0,100.0,94112.0,1.0,2.7,2.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,1.0,52.93,35.0,8.0,45.0,91330.0,4.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4889,0.0,1.0,0.0,1.0,0.0,0.0,4950.07,29.0,3.0,40.0,92697.0,1.0,1.9,3.0,0.0,0.0,0.0,0.0,1.0,0.0
4890,0.0,1.0,0.0,1.0,0.0,0.0,4950.07,30.0,4.0,15.0,92037.0,4.0,0.4,1.0,85.0,0.0,0.0,0.0,1.0,0.0
4891,0.0,1.0,0.0,1.0,0.0,0.0,4950.07,63.0,39.0,24.0,93023.0,2.0,0.3,3.0,0.0,0.0,0.0,0.0,0.0,0.0
4892,0.0,1.0,0.0,1.0,0.0,0.0,4950.07,65.0,40.0,49.0,90034.0,3.0,0.5,2.0,0.0,0.0,0.0,0.0,1.0,0.0
4893,0.0,1.0,0.0,1.0,0.0,0.0,4950.07,28.0,4.0,83.0,92612.0,3.0,0.8,1.0,0.0,0.0,0.0,0.0,1.0,1.0

In [214]:
# Save the modified Dataset to a new file
data.to_csv('modified_data.csv', index=False)

In [215]:
data_sec = pd.read_csv('modified_data.csv')

In [216]:
data_sec

,Female,Male,Other,Home Mortage,Home Owner,Rent,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,0.0,1.0,0.0,0.0,1.0,0.0,52.93,25.0,1.0,49.0,91107.0,4.0,1.6,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,1.0,52.93,45.0,19.0,34.0,90089.0,3.0,1.5,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,1.0,52.93,39.0,15.0,11.0,94720.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,1.0,52.93,35.0,9.0,100.0,94112.0,1.0,2.7,2.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,1.0,52.93,35.0,8.0,45.0,91330.0,4.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4889,0.0,1.0,0.0,1.0,0.0,0.0,4950.07,29.0,3.0,40.0,92697.0,1.0,1.9,3.0,0.0,0.0,0.0,0.0,1.0,0.0
4890,0.0,1.0,0.0,1.0,0.0,0.0,4950.07,30.0,4.0,15.0,92037.0,4.0,0.4,1.0,85.0,0.0,0.0,0.0,1.0,0.0
4891,0.0,1.0,0.0,1.0,0.0,0.0,4950.07,63.0,39.0,24.0,93023.0,2.0,0.3,3.0,0.0,0.0,0.0,0.0,0.0,0.0
4892,0.0,1.0,0.0,1.0,0.0,0.0,4950.07,65.0,40.0,49.0,90034.0,3.0,0.5,2.0,0.0,0.0,0.0,0.0,1.0,0.0
4893,0.0,1.0,0.0,1.0,0.0,0.0,4950.07,28.0,4.0,83.0,92612.0,3.0,0.8,1.0,0.0,0.0,0.0,0.0,1.0,1.0

In [217]:
data_sec.isnull().sum()*100/len(data_sec)

Female                0.0
Male                  0.0
Other                 0.0
Home Mortage          0.0
Home Owner            0.0
Rent                  0.0
ID                    0.0
Age                   0.0
Experience            0.0
Income                0.0
ZIP Code              0.0
Family                0.0
CCAvg                 0.0
Education             0.0
Mortgage              0.0
Personal Loan         0.0
Securities Account    0.0
CD Account            0.0
Online                0.0
CreditCard            0.0
dtype: float64

In [ ]:
# find the number of outliers function
def NumberOutliers(column,df):
    # find limit
    upper_limit =df[column].quantile(0.99)
    lower_limit =df[column].quantile(0.01)
    upper_limit,lower_limit
    # find the outlier 
    out=df.loc[(df[column] >upper_limit) | (df[column] < lower_limit)]
    return len(out)

In [ ]:
# find the number of outliers in each column
Total_outlier = []
columns = data_sec.head(0)
for c in columns:
    if data_sec[c].dtype in ['int64','float64']:
        num = NumberOutliers(c, data_sec)
        Total_outlier.append((c, num))
Total_outlier

In [218]:
data_sec.drop(columns=['ID'], inplace=True)

In [219]:
data_sec.drop(columns=['ZIP Code'], inplace=True)

In [225]:
data_sec

,Female,Male,Other,Home Mortage,Home Owner,Rent,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,0.0,1.0,0.0,0.0,1.0,0.0,25.0,1.0,49.0,4.0,1.6,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,1.0,45.0,19.0,34.0,3.0,1.5,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,1.0,39.0,15.0,11.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,1.0,35.0,9.0,100.0,1.0,2.7,2.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,1.0,35.0,8.0,45.0,4.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4889,0.0,1.0,0.0,1.0,0.0,0.0,29.0,3.0,40.0,1.0,1.9,3.0,0.0,0.0,0.0,0.0,1.0,0.0
4890,0.0,1.0,0.0,1.0,0.0,0.0,30.0,4.0,15.0,4.0,0.4,1.0,85.0,0.0,0.0,0.0,1.0,0.0
4891,0.0,1.0,0.0,1.0,0.0,0.0,63.0,39.0,24.0,2.0,0.3,3.0,0.0,0.0,0.0,0.0,0.0,0.0
4892,0.0,1.0,0.0,1.0,0.0,0.0,65.0,40.0,49.0,3.0,0.5,2.0,0.0,0.0,0.0,0.0,1.0,0.0
4893,0.0,1.0,0.0,1.0,0.0,0.0,28.0,4.0,83.0,3.0,0.8,1.0,0.0,0.0,0.0,0.0,1.0,1.0

# DEFINE Dependent And Independent Variable and splitt data X and y train and test

In [227]:
X=data_sec.drop('Personal Loan',axis=1)
Y=data_sec['Personal Loan']

In [229]:
from sklearn.model_selection import train_test_split
# splitt dataset in train and test
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

In [230]:
# for train set 
X.iloc[:,[6, 7, 8, 9, 10, 12]]

       Age  Experience  Income  Family  CCAvg  Mortgage
0     25.0         1.0    49.0     4.0    1.6       0.0
1     45.0        19.0    34.0     3.0    1.5       0.0
2     39.0        15.0    11.0     1.0    1.0       0.0
3     35.0         9.0   100.0     1.0    2.7       0.0
4     35.0         8.0    45.0     4.0    1.0       0.0
...    ...         ...     ...     ...    ...       ...
4889  29.0         3.0    40.0     1.0    1.9       0.0
4890  30.0         4.0    15.0     4.0    0.4      85.0
4891  63.0        39.0    24.0     2.0    0.3       0.0
4892  65.0        40.0    49.0     3.0    0.5       0.0
4893  28.0         4.0    83.0     3.0    0.8       0.0

[4894 rows x 6 columns]

FEATURE SCALING using Standardization

In [231]:
# Feature Scaling Using Standardization
from sklearn.preprocessing import StandardScaler
sc =StandardScaler()
# featuring scaling (standardization) for train dataset
X_train.iloc[:,[6, 7, 8, 9, 10, 12]] = sc.fit_transform(X_train.iloc[:,[6, 7, 8, 9, 10, 12]])

# featuring scaling (standardization) for test dataset
X_test.iloc[:,[6, 7, 8, 9, 10, 12]] = sc.transform(X_test.iloc[:,[6, 7, 8, 9, 10, 12]])

In [235]:
X

,Female,Male,Other,Home Mortage,Home Owner,Rent,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
0,0.0,1.0,0.0,0.0,1.0,0.0,25.0,1.0,49.0,4.0,1.6,1.0,0.0,1.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,1.0,45.0,19.0,34.0,3.0,1.5,1.0,0.0,1.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,1.0,39.0,15.0,11.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,1.0,35.0,9.0,100.0,1.0,2.7,2.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,1.0,35.0,8.0,45.0,4.0,1.0,2.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4889,0.0,1.0,0.0,1.0,0.0,0.0,29.0,3.0,40.0,1.0,1.9,3.0,0.0,0.0,0.0,1.0,0.0
4890,0.0,1.0,0.0,1.0,0.0,0.0,30.0,4.0,15.0,4.0,0.4,1.0,85.0,0.0,0.0,1.0,0.0
4891,0.0,1.0,0.0,1.0,0.0,0.0,63.0,39.0,24.0,2.0,0.3,3.0,0.0,0.0,0.0,0.0,0.0
4892,0.0,1.0,0.0,1.0,0.0,0.0,65.0,40.0,49.0,3.0,0.5,2.0,0.0,0.0,0.0,1.0,0.0
4893,0.0,1.0,0.0,1.0,0.0,0.0,28.0,4.0,83.0,3.0,0.8,1.0,0.0,0.0,0.0,1.0,1.0

MODEL TRAIN AND TEST

In [236]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn.model_selection import cross_val_score

def Train_Test_Model(model,X_train,Y_train,X_test,Y_test,X,Y):
    model.fit(X_train,Y_train)
    pre=model.predict(X_test)
    acc=accuracy_score(Y_test,pre)
    scor=cross_val_score(model,X,Y,cv=5)
    crossscor =np.mean(scor)*100
    precision = precision_score(Y_test, pre)
    recall = recall_score(Y_test, pre)
    return crossscor,acc,precision,recall

In [237]:
# using different model
model =[LogisticRegression(),SVC(),DecisionTreeClassifier(),RandomForestClassifier()]
accuracy_array = []
for m in model:
    crossscor,acc,precision,recall =Train_Test_Model(m,X_train,Y_train,X_test,Y_test,X,Y)
    accuracy_array.append((m,crossscor,acc,precision,recall))

C:\Users\Saujanya Basnet\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Saujanya Basnet\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Saujanya Basnet\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Saujanya Basnet\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Saujanya Basnet\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [238]:
accuracy_array

[(LogisticRegression(),
  95.17785562246857,
  0.9622063329928499,
  0.76,
  0.6031746031746031),
 (SVC(),
  92.27622610610133,
  0.9785495403472931,
  0.9565217391304348,
  0.6984126984126984),
 (DecisionTreeClassifier(),
  98.32442436357788,
  0.982635342185904,
  0.8484848484848485,
  0.8888888888888888),
 (RandomForestClassifier(),
  98.671863739762,
  0.9867211440245148,
  0.9807692307692307,
  0.8095238095238095)]

In [242]:
from sklearn.model_selection import RandomizedSearchCV
logistic_params = {
    'C': [0.001, 0.01, 0.1, 1, 10, 100],
    'penalty': ['l1', 'l2']
}
svm_params = {
    'C': [0.1, 1, 10],
    'kernel': ['linear', 'rbf', 'poly'],
    'gamma': ['scale', 'auto']
}
rf_params = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}
models =[(LogisticRegression(),logistic_params),(SVC(),svm_params),(RandomForestClassifier(),rf_params)]
logistic = RandomizedSearchCV(LogisticRegression(), logistic_params, n_iter=10, cv=5, scoring='accuracy', random_state=42)
logistic.fit(X_train, Y_train)
logistic.best_params_

C:\Users\Saujanya Basnet\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Saujanya Basnet\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:
25 fits failed out of a total of 50.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
25 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Saujanya Basnet\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Saujanya Basnet\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py", line 1162, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\Saujanya Basnet\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py", line 54, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Saujanya Basnet\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\model_selection\_search.py:952: UserWarning: One or more of the test scores are non-finite: [       nan 0.95862069        nan        nan 0.95785441        nan
 0.92056194 0.95836526        nan 0.95759898]
  warnings.warn(

{'penalty': 'l2', 'C': 10}

In [252]:
print(model in model)

False

In [258]:

for model, params in models:
    print(model)
    print(params)

LogisticRegression()
{'C': [0.001, 0.01, 0.1, 1, 10, 100], 'penalty': ['l1', 'l2']}
SVC()
{'C': [0.1, 1, 10], 'kernel': ['linear', 'rbf', 'poly'], 'gamma': ['scale', 'auto']}
RandomForestClassifier()
{'n_estimators': [50, 100, 200], 'max_depth': [None, 10, 20], 'min_samples_split': [2, 5, 10], 'min_samples_leaf': [1, 2, 4]}

[{'C': [0.001, 0.01, 0.1, 1, 10, 100], 'penalty': ['l1', 'l2']},
 {'C': [0.1, 1, 10],
  'kernel': ['linear', 'rbf', 'poly'],
  'gamma': ['scale', 'auto']},
 {'n_estimators': [50, 100, 200],
  'max_depth': [None, 10, 20],
  'min_samples_split': [2, 5, 10],
  'min_samples_leaf': [1, 2, 4]}]